body {
    font-family: Arial;
    background: #79C7C5;
}

#top-bar {
    margin: auto;
    width: 40%;
    height: 60px;
    margin-top: 40px;
    background: #F9FBFF;
    border-radius: 10px 10px 0 0;
    position: relative;
}

.name {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    color: #777777;
    font-size: 25px;
    letter-spacing: 2px;
    font-weight: 500;
}

#chatbox {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    margin-top: 41px;
}

#userInput {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    margin-top: 60px;
    padding: 7px;
    background: white;
    color: #79C7C5;
    border-radius: 12px;
}

#textInput {
    width: 90%;
    border: none;
    font-family: monospace;
    font-size: 17px;
    margin-left: 5px;
}

#textInput::placeholder {
    color: #2C3333;
}

#buttonInput {
    padding: 5px;
    margin-left: 4px;
    width: 7%;
    font-family: monospace;
    font-size: 17px;
    color: whitesmoke;
    background-color: #009688;
    border-radius: 2px;
    border: 1px solid #009688;
}

.userText {
    color: #2C3333;
    font-family: monospace;
    font-size: 18px;
    text-align: right;
    line-height: 30px;
}

.userText span {
    background-color: #E7F6F2;
    padding: 10px;
    border-radius: 8px;
}

.botText {
    color: white;
    font-family: monospace;
    font-size: 18px;
    text-align: left;
    line-height: 30px;
}

.botText span {
    background: #2C3333;
    padding: 10px;
    border-radius: 8px;
}